@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

header {padding-top: 100px;}

body{
	font-family: 'Roboto Condensed', sans-serif;
	line-height: 2em;
	margin:0;
}

a {
	text-decoration: none;
}

nav{
	position: fixed;
	text-transform: uppercase;
	min-width: 100%;
	background-color: #D32F2F;;
}

.wrapper{
	margin: 0 auto;
	max-width: 1200px;
	padding: 0 2%;
}

nav .wrapper {
	 align-items: center;
	 display: flex;
	 justify-content: space-between;
}


nav ul {
	  display: flex;
	  justify-content: space-between;
	  list-style-type: none;
	  width: 50%;
}
nav a {
		color: white;
		text-decoration: none;
		transition: all .5s ease;
  
		&:hover {color:black;}
}


  
nav	li  {
	  display: inline-block;
	}
   

.flex-outer{
	display: flex;
	flex-direction: column;
	max-width: 1200px;
	flex-wrap: wrap;
	flex-flow: column; 
	justify-content: center;
	margin: auto;
	align-items: stretch;
}


.btn {
	background-color : #3458db;
	border-width: 0;
	
	padding: 0;
	border-radius: 2px;
	box-shadow:  0 1px 4px rgba(0,0,0,.6);
	color: #ecf0f1;
	flex: 1;
	width: 100%;
}

.gicon{
	text-align: right;

}

/*.title {
	text-transform: uppercase;
	line-height: 2em;
}*/

